{% extends "layouts/main.twig" %}

{% block pageTitle %}Главная{% endblock %}

{% block content %}

<h2>Главная</h2>
<p>Рады приветствовать Вас, {{ userName }}, в нашем интернет-магазине!

{% endblock %}

